* {
    list-style: none;
}

h1 {
    display: flex;
    place-self: center;
}

.emoji-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.squad-members{
    display: block;
    padding: 0;

    li {
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));   
        place-content: center;
        justify-items: center;
        gap: 1em;
        padding: 0;
        
        figure {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 0;

            img {
                width: 100%;
                aspect-ratio: 1 / 1;
                object-fit: cover;
                border-radius: 1em;
            }

            figcaption {
                display: flex;
                flex-direction: row;
                align-self:  end;
                align-items: center;   
                padding: .5em;
                gap: .4em;


                img{
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}