* {
    list-style: none;
}

body {
    background-color: #1F1F23;
    color: #FF2E88 ;
    text-shadow: 
        0 0 10px rgba(255, 46, 136, 0.6),
        0 0 20px rgba(255, 46, 136, 0.3);
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    h1 {
        display: flex;
        place-self: center;
        cursor: pointer;
        font-size: 3em;
        color: #FF2E88;
    }
}

.emoji-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5em;
    padding: 0;
    flex-wrap: wrap;
    gap: .4em;

    li:hover {
        scale: 1.6;
        transition: .3s ease;
    }
}

.squad-members{
    padding: 0;

    li {
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));   
        justify-items: center;
        gap: 2em;
        padding: 1em;

        /* ITEMS STAY SMALL ON FULL SCREEN */
        @media (min-width: 900px) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
        
        figure {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 0;

            a:hover{
                text-decoration: underline;
                color: #FF2E88;
            }

            /* PROFILE PICTURE */
            img {
                width: 100%;
                aspect-ratio: 1 / 1;
                object-fit: cover;
                border-radius: 1em;
                border: 4px solid #FF2E88 ;
                box-shadow: 
                    0 0 10px rgba(255, 46, 136, 0.6),
                    0 0 20px rgba(255, 46, 136, 0.3);
            }

            figcaption {
                display: flex;
                flex-direction: row;
                place-content:  end;
                padding: .5em;
                gap: .4em;
                color: #FF2E88;
                font-size: 23px;
             
                /* ARROW ICON */
                svg, * > svg {
                    filter:
                    drop-shadow(0 0 6px rgba(255, 46, 136, .9))
                    drop-shadow(0 0 12px rgba(255, 46, 136, .6));
                }
            }
        }
    }
}

input[type="text"] {
    width: 60%;
    transition: 0.5s;
    padding: 6px;

    &:focus {
        border: 5px solid #FF2E88;
    }
}